@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<body style="background-color:black;">

    <div style=" margin:100px">

    <h1>@ViewData["Prenom"] @ViewData["Nom"]</h1>
    <h2>@ViewData["Pays"]</h2>
    <p>
        @ViewData["Descriptif"]
    </p>
    </div>

</body>
